!!! 5
%html{ lang: 'en' }
  %head
    %title Taggart- Like a Scottish detective but for finding tags.
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }
    %script(src="jquery-latest.js")
    %script(src="jquery.highlight-5.js")
    %script(src="taggart.js")
  %body
    = yield
