!!! 5
%html{ lang: 'en' }
  %head
    %title Taggart- Like a Scottish detective but for finding tags.
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }
    %link{ href: 'bootstrap.min.css', rel: 'stylesheet' }
    %link{ href: 'bootstrap-theme.min.css', rel: 'stylesheet' }
    %script(src="jquery-latest.js")
    %script(src="highlightRegex.js")
    %script(src="bootstrap.min.js")
    %script(src="taggart.js")
  %body
    = yield
