!!! 5
%html{ lang: 'en' }
  %head
    %title Untitled App
    %meta{ charset: 'utf-8' }

    %link{ href: '/style.css', rel: 'stylesheet' }
    %script(src="jquery-latest.js")
    %script(src="jquery.highlight-5.js")

  %body
    = yield
